.notesDiv {
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    width: 50%;
    position: relative;
    z-index: 1;
}

.softEdge {
    border: 1px solid #5f595970;
    border-radius: 6px;
    background-color: #e1d3e6;
    position: relative;
    z-index: 1;
}
